@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Alan Sans';
  src: url('/assets/font/Alan_Sans/static/AlanSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Alan Sans';
  src: url('/assets/font/Alan_Sans/static/AlanSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Alan Sans';
  src: url('/assets/font/Alan_Sans/static/AlanSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Alan Sans';
  src: url('/assets/font/Alan_Sans/static/AlanSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Alan Sans';
  src: url('/assets/font/Alan_Sans/static/AlanSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Alan Sans';
  src: url('/assets/font/Alan_Sans/static/AlanSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Alan Sans';
  src: url('/assets/font/Alan_Sans/static/AlanSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'Alan Sans', sans-serif;
}